/*


최종 편집자 : 안홍걸






*/
@import "./colors.css";

::-webkit-scrollbar {
  display: none; /* 웹킷(Chrome, Safari) 브라우저에서만 수직 스크롤바 감춤 */
}
body {
  background-color: var(--backGround);
  display: flex;
  justify-content: center;
}
.underContainer {
  margin-top: 30vh; /*윗부분 제작시 삭제*/
  flex-direction: column;
  width: 50vw;
  height: auto;
  background-color: var(--pinkDark);
}
.underBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 40px;
  border-radius: 5px;
  height: 400px;
}
.underButtonContainer {
  width: auto;
  height: 40px;
  display: flex;
  background-color: teal;
  cursor: pointer;
}
.underReviewForm {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 40vw;
  margin: 20px;
}
.form-floating {
  box-shadow: 2px 2px 3px var(--pinkDark); /*input 태그들 그림자설정*/
  margin-top: 5px;
}
.underButtonInfo {
  /* 주요 정보 이동 버튼*/
  background-color: white;
  height: 40px;
  width: 25vw;
  text-align: center;

  padding-top: 7px;
}
.underButtonReview {
  /* 평점 리뷰 이동 버튼*/
  background-color: var(--pinkDark);
  height: 40px;
  width: 25vw;
  text-align: center;
  padding-top: 7px;
}
#movieScoreInput {
  /*별점 매기는 슬라이더 디자인*/
  margin-top: 10px;
}
#saveReview { /*평점 작성 버튼 */
  background-color: var(--pinkDark);
  margin-top: 20px;
  border-radius: 5px;
  padding:10px;
  color:white;
}

/*최신순 평점순 버튼 디자인*/
.underOderBox {
  background-color: var(--pinkDark);
  width: 100%;
  height: 0px;
}
#oderLastest {
  display: none;
}
#oderScore {
  display: none;
}
/*-------------------------------*/

/*작성완료된 리뷰컨테이너*/
.underReviewContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}
.underReview {
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  height: 30vh;
}
