@import "CSS/colors.css";

body {
  background-color: var(--backGround);
}

.button {
  background-color: var(--backGround);
  color: var(--pinkDark);
}
/*네비게이션*/
.container-fluid{
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #D96C9F;
  width: 100%;
  height: 60px;
}

/*02_1 영화 포스터, 간단한 내용 보여주기*/
.movieBox {
  width: 100%;
  height: 500px;
  background-color: var(--pinkLight);
}
.moviePoster {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 420px;
  margin-top: 40px;
  margin-left: 20%;
  background-color: var(--pinkDark); /*구성완료시 없앨것임*/
  border-radius: 10px;
  float: left;

}
.posterTitle {
  padding-top: 20%;
  text-align: center;
}
.ageYear {
  padding-top: 40%;
  display: flex;
  align-items: center;
}
.ageImg {
  padding: auto;
  width: 40px;
  height: auto;
}
.movieYear {
  display: inline-block;
}
.movieReview {
  padding-top: 10%;
  color: black;
}
.bxs-star {
  color: var(--reviewStar);
}

/*02_2 영화 포스터사진 넣을때 크기*/
.imgBox {
  width: 300px;
  height: 420px;
  margin-top: 40px;
  margin-right: 20%;
  background-color: aqua;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}
/*02_3 사진 슬라이드 할때 버튼*/
.boxBtn{
  position: absolute;
  margin-top: 460px;
  left:50%;
  transform: translateX(-50%);
}
.btnLine {
  width: 100px;
  height: 10px;
  border-radius: 10px;
  /*보여주는 영화 포스터면 --pinkMedium 색상
  and
  대기중은 영화 포스터면 #ffffff 색상*/
  background-color: var(--pinkMedium);
  cursor: pointer;
}

/*03_오늘의 영화 TOP*/
.todayMovie {
  width: 100%;
  height: 700px;
  background-color: aqua; /*구성완료시 없앨것임*/
}
.todayAll {
  display: flex;
  justify-content: center;
}
.todayMovieTop {
  
}
.allMovieBtn {
  width: 160px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: var(--pinkDark); 
  display: inline-block;
}
.todayMoviePoster{
  width: 300px;
  height: 500px;
  margin-left: 20%;
  border-radius: 10px;
  background-color: var(--pinkDark); /*구성완료시 없앨것임*/
}
.todayMovieTitle {
  color: black;
  background-color: white; 
}
