@import "CSS/colors.css";

.navbar-brand{
    background-color:#F2BDC7;

    width: 10%;
    height: 80%;
}

.container-fluid{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #D96C9F;

    width: 100%;
    height: 60px;

    color: white;

}

.button{
  
    display:flex;
    flex-direction: column;
    margin-right: 13%;
    margin-left: auto;
    margin-top: 50px;

    width: 80px;
}

.btn_name{
    margin-bottom: 5px;   
    background-color:#D96F66;
    color: white
}
.btn_new{
    margin-bottom: 5px;
    background-color: #D96F66;
    color: white;
}
.btn_recommended{
    margin-bottom: 50px;
    background-color: #D96F66;
    color: white;
}

#btn_submit{
    background-color: #D96F66;
    color:white;
}

#cards{
    display: flex;
    max-width: 100%;
    max-height: auto;
    padding: 5px;
    margin: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.col{
    background-color:#F2BDC7;
    max-width: 20%;
    text-align: center;
    margin: 10px;

    border: transparent;
    border-radius: 8px;
    
    cursor: pointer;
   
}

.card-footer{
    padding-bottom: 10px; 
}

body {
    background-color: #402028;
  }